<div class="row">
   <div class="col-sm-12">
      <div class="card-box">
      
         <h4 class="header-title m-t-0 m-b-30">Página comite</h4>
         <div class="row">
         <%= form_for @commissions do |f| %>


            <div class="col-lg-6">
            <div class="form-group">
               <%= f.label :title, class:"col-md-2 control-label" do %>
               <span class="required">Título </span>
               <% end %> 
               <div class="col-md-10">
               <%= f.text_field :title, class:"date-picker form-control col-md-7 col-xs-12", type:"text", required:"required"%>
               </div>
               </div>

               <div class="form-group">
               <%= f.label :description,  class:"col-md-2 control-label" do %>
               <span class="required">Texto </span>
               <% end %> 
               <div class="col-md-10">
               <%= f.text_area :description, class:"date-picker form-control col-md-7 col-xs-12", type:"text", required:"required"%>
               </div>
               </div>
               <div class="form-group">

               <%= f.label :photo, class:"col-md-2 control-label" do %>
               <span class="required">Imagem </span>
               <% end %> 
               <div class="col-md-10">
               <%= f.file_field :photo, cclass:"dropify"%>
               </div>
               </div>
               </div>



                  </div>
         
                        <%= f.submit "Cadastrar", class:"btn btn-success btn-block btn-trans waves-effect w-md waves-success m-b-5" %>
                        
                     </div>
                  </div>
               </div>
            <% end %>
            </div>
            </div>
            </div>