<div class="row">
  <div class="span12">

    <h3 class="headline">
      <span>NOTÍCIAS</span>
    </h3>

  </div>
  <!-- end .span12 -->
</div>
<!-- end .row -->


<div class="row">
  <div class="span6">

    <div class="icon-box-1">

      <i class="ifc-copy"></i>

      <div class="icon-box-content">

        <h2>
          <a href="/noticia/patronato">E.E.F.M. Patronato Sagrada Família recebe primeira SONU Escolas de 2016</a>
        </h2>

      </div>
      <!-- end .icon-box-content -->

    </div>
    <!-- end .icon-box-1 -->

    <p class="hidden-tablet">

      Durantes os dias 21 e 22 de março, alunos do Ensino Médio participaram da SONU Escolas como delegados da Organização para a Cooperação Islâmica (OCI), discutindo e buscando chegar a uma resolução sobre o tema: "Adoção e Efetivação dos Direitos da
      Mulher no Mundo Islâmico". Além disso, três estudantes do 1º ano do Ensino Médio simularam como repórteres do Khaleej Times, produzindo notícias sobre as sessões do comitê.&nbsp;<br>A iniciativa é a primeira do ano da
      <a <b href="" </p> <p class="text-right"> <br>>
        <a href="/noticias" class="btn btn-blue-dark">Leia Mais</a>
      </p>

    </div>
    <!-- end .span6 -->
    <div class="span6">

      <div class="portfolio-item">

        <div class="portfolio-item-preview">

          <a href="#">
              <%= image_tag("460x265-2.png")%>
          </a>

          <div class="portfolio-item-overlay">

            <div class="portfolio-item-overlay-actions">

              <a title="zoom" href="images/1692c301c6798861bee0caf164d9495a.png" class="magnificPopup-gallery portfolio-item-zoom">
                <i class="ifc-zoom_in"></i>
              </a>

              <a title="zoom" href="/noticia/patronato" class="portfolio-item-link">
                <i class="ifc-link"></i>
              </a>

            </div>
            <!-- end .portfolio-item-overlay-actions -->

            <div class="portfolio-item-description hidden-tablet">

              <h4 class="text-uppercase">E.E.F.M. Patronato Sagrada Família recebe primeira SONU Escolas de 2016</h4>

            </div>
            <!-- end .portfolio-item-description -->

          </div>
          <!-- end .portfolio-item-overlay -->

        </div>
        <!-- end .portfolio-item-preview -->

      </div>
      <!-- end .portfolio-item -->

    </div>
    <!-- end .span6 -->
  </div>
  <!-- end .row -->


  <div class="row">
    <div class="span3">

      <div class="portfolio-item">

        <div class="portfolio-item-preview">

          <a href="#">
              <%= image_tag("b8b6d5fd656401d38c1c12dd3a0c2c38.png")%>
          </a>

          <div class="portfolio-item-overlay">

            <div class="portfolio-item-overlay-actions">

              <a title="zoom" href="images/uploads/b8b6d5fd656401d38c1c12dd3a0c2c38.png" class="magnificPopup-gallery portfolio-item-zoom">
                <i class="ifc-zoom_in"></i>
              </a>

              <a title="zoom" href="/noticia/resultadorevistasonu" class="portfolio-item-link">
                <i class="ifc-link"></i>
              </a>

            </div>
            <!-- end .portfolio-item-overlay-actions -->

            <div class="portfolio-item-description hidden-tablet" style="top:15px">

              <h4 class="text-uppercase">Artigos selecionados para a revista SONU são divulgados</h4>

            </div>
            <!-- end .portfolio-item-description -->

          </div>
          <!-- end .portfolio-item-overlay -->

        </div>
        <!-- end .portfolio-item-preview -->

      </div>
      <!-- end .portfolio-item -->

    </div>
    <!-- end .span3 -->

    <div class="span3">

      <div class="portfolio-item">

        <div class="portfolio-item-preview">

          <a href="#">
              <%= image_tag("a43e95eb1364fc841f14653597028825.png")%>
          </a>

          <div class="portfolio-item-overlay">

            <div class="portfolio-item-overlay-actions">

              <a title="zoom" href="images/uploads/a43e95eb1364fc841f14653597028825.png" class="magnificPopup-gallery portfolio-item-zoom">
                <i class="ifc-zoom_in"></i>
              </a>

              <a title="zoom" href="/noticia/revistasonu" class="portfolio-item-link">
                <i class="ifc-link"></i>
              </a>

            </div>
            <!-- end .portfolio-item-overlay-actions -->

            <div class="portfolio-item-description hidden-tablet" style="top:15px">

              <h4 class="text-uppercase">Revista SONU: Prazo para submissão de artigos científicos está aberto</h4>

            </div>
            <!-- end .portfolio-item-description -->

          </div>
          <!-- end .portfolio-item-overlay -->

        </div>
        <!-- end .portfolio-item-preview -->

      </div>
      <!-- end .portfolio-item -->

    </div>
    <!-- end .span3 -->

    <div class="span3">

      <div class="portfolio-item">

        <div class="portfolio-item-preview">

          <a href="#">
              <%= image_tag("ad494b886577d03ebbdc70900e23c6f6.jpg")%>
          </a>

          <div class="portfolio-item-overlay">

            <div class="portfolio-item-overlay-actions">

              <a title="zoom" href="images/uploads/ad494b886577d03ebbdc70900e23c6f6.jpg" class="magnificPopup-gallery portfolio-item-zoom">
                <i class="ifc-zoom_in"></i>
              </a>

              <a title="zoom" href="/noticia/sonuescolas2016" class="portfolio-item-link">
                <i class="ifc-link"></i>
              </a>

            </div>
            <!-- end .portfolio-item-overlay-actions -->

            <div class="portfolio-item-description hidden-tablet" style="top:15px">

              <h4 class="text-uppercase">SONU Escolas alcança novas instituições em 2016</h4>

            </div>
            <!-- end .portfolio-item-description -->

          </div>
          <!-- end .portfolio-item-overlay -->

        </div>
        <!-- end .portfolio-item-preview -->

      </div>
      <!-- end .portfolio-item -->

    </div>
    <!-- end .span3 -->

    <div class="span3">

      <div class="portfolio-item">

        <div class="portfolio-item-preview">

          <a href="#">
              <%= image_tag("234c51744a4258ae815d5100567aaa58.jpg")%>
          </a>

          <div class="portfolio-item-overlay">

            <div class="portfolio-item-overlay-actions">

              <a title="zoom" href="images/uploads/234c51744a4258ae815d5100567aaa58.jpg" class="magnificPopup-gallery portfolio-item-zoom">
                <i class="ifc-zoom_in"></i>
              </a>

              <a title="zoom" href="/noticia/onu70anos" class="portfolio-item-link">
                <i class="ifc-link"></i>
              </a>

            </div>
            <!-- end .portfolio-item-overlay-actions -->

            <div class="portfolio-item-description hidden-tablet" style="top:15px">

              <h4 class="text-uppercase">SONU realiza palestra em comemoração aos 70 anos da ONU</h4>

            </div>
            <!-- end .portfolio-item-description -->

          </div>
          <!-- end .portfolio-item-overlay -->

        </div>
        <!-- end .portfolio-item-preview -->

      </div>
      <!-- end .portfolio-item -->

    </div>
    <!-- end .span3 -->

  </div>
  <!-- end .row -->
