<section class="content-header">
    <h1>
      Editar Cadastro
    <small></small>
    </h1>
</section>
 <%= form_for @user, url: { action: "update" }, method: :patch do |f| %>

 <% if @user.errors.any? %>
  <script>
   $(document).ready(function() {
    noty({text: ' <%= pluralize(@user.errors.count, "erros") %> encontrados: </br><ul><% @user.errors.full_messages.each do |message| %><li><%= message %></li><% end %></ul>', layout: 'bottom', type: 'warning', timeout: 4000});
  });
  </script>
<% end %>
 <!-- Main content -->

    <section class="content">

      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Opções</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div>

        <div class="box-body">
          <div class="row">
            <div class="col-md-3">
              <%= link_to "Desclassificar usuário", crew_disqualify_user_path(@user), class: 'btn btn-block btn-danger', method: :patch, data: { confirm: "Deseja realmente desclassificar #{@user.name || @user.email}" } %>
            </div>

            <div class="col-md-3">
                  <button  class="btn btn-info btn-block  dropdown-toggle" data-toggle="dropdown">
                    Mover Usuário Para o Lote <span class="caret"></span>
                    <span class="sr-only"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" style="margin-left: 15px;">
                  <% @lots.each do |lot| %>
                    <% unless @user_lot == lot %>
                      <li><%= link_to lot.name, crew_move_user_to_lot_path(@user, lot.number), method: :patch %></li>
                    <% end %>
                  <% end %>
                    <li class="divider"></li>
                    <li><a href="#">Atual: <%= @user.lot.nil? ? 'Não Alocado' : @user.lot.name%></a></li>
                  </ul>
            </div>
            <div class="col-md-3">
            <%= link_to "Remover Método De Pagamento", crew_change_payment_method_path(@payment.id),'data-toggle': "tooltip", 'title': "", 'data-original-title': "Só será possivel remover o pagamento caso o usuário não tenha feito nenhum pagamento.", class: 'btn btn-block btn-danger', method: :patch, data: { confirm: "Deseja realmente apagar os boletos|pagseguro de #{@user.name || @user.email}?" } unless @payment.nil? %>
                  
            </div>

            <div class="col-md-3">
                  <button  class="btn btn-info btn-block  dropdown-toggle" data-toggle="dropdown">
                    Status Do Pagamento <span class="caret"></span>
                    <span class="sr-only"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" style="margin-left: 15px;">
                    <% i = 1 %>
                  <% if !@payment.nil? %>
                    <% if @payment.method == 'Boleto' %>
                      <li><%= link_to "NÃO PAGO", crew_change_payment_status_path(@payment.id, 'NON'), method: :patch %></li>
                      <% @payment.asaas_payments.order('description').each do |link| #, download: 'data'%>
                        <li><%= link_to "P#{i} PAGA", crew_set_billet_portion_paid_path(link.id, @payment.portion_paid+1), method: :patch %></li>
                        <% i += 1 %>
                      <% end %>
                      <li><%= link_to "PAGO", crew_change_payment_status_path(@payment.id, 'paid'), method: :patch %></li>
                    <% else #FIM BOLETO METHOD%> 
                      <li><%= link_to "NÃO PAGO", crew_change_payment_status_path(@payment.id, 'NON'), method: :patch %></li>
                      <li><%= link_to "PAGO", crew_change_payment_status_path(@payment.id, 'paid'), method: :patch %></li>
                    <% end #PAGSEGURO %>
                    <li class="divider"></li>
                    <li><a href="#">Atual: <% if @payment.method == 'Boleto' %>
                      <% i = 1 %>
                        <% @payment.asaas_payments.order('description').each do |boletos| %>
                          <% if  boletos.status == 'PENDING' %>
                            <small class="label bg-red" data-toggle="tooltip" title="" data-original-title="Pagamento Pendente | <%=boletos.description%>"><%=i%></small>
                          <% elsif boletos.status == 'RECEIVED' %>
                           <small class="label bg-green" data-toggle="tooltip" title="" data-original-title="Pagamento Recebido | <%=boletos.description%>"><%=i%></small>
                          <% elsif boletos.status == 'OVERDUE' %>
                           <small class="label bg-blue" data-toggle="tooltip" title="" data-original-title="Pagamento Atrasado | <%=boletos.description%>"><%=i%></small>
                          <% end %>
                          <% i += 1 %>
                        <% end %>
                      <% else %>
                        <%= @payment.paid? ? 'Pago' : 'Não pago' %>
                      <% end %></a>
                    </li>
                    <% else %>
                    <li><a href="#">Não há pagamento disponível</a></li>
                    <% end %>
                  </ul>
            </div>
       
          </div>
        </div>
      </div>

     



      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Dados Pessoais</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Nome Completo</label>
                <%= f.text_field :name, :id => 'name', placeholder: 'Nome completo', class: 'form-control'%>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                <label>CPF</label>
                <%= f.text_field :cpf, :id => 'cpf', placeholder: 'CPF', class: 'form-control'%>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
              <div class="form-group">
                <label>RG</label>
                <%= f.text_field :general_register, :id => 'rg', placeholder: 'rg', class: 'form-control'%>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                <label>Data de Nascimento</label>
                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <%= f.text_field :birthday, :id => 'birthday_picker', placeholder: 'Data de nascimento', class: 'form-control'%>
                </div>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="">
              <div class="form-group col-md-6">
                <label>Gênero</label>
                <%= f.select(:gender,['Masculino', 'Feminino', 'Prefiro não declarar'], {}, { :class => 'form-control select2' }) %>
              </div>
              <!-- /.form-group -->
              <div class="form-group col-md-6">
                <label>Necessita de Traslado?</label>
                <div class="input-group">
                        <span class="input-group-addon">
                           <%= f.check_box :transport_required, value: true, id: 'transport_check'%> Sim
                        </span>
                    <%= f.text_field :transport_local, id: 'transport', placeholder: 'Lista de Locais em Breve', class: 'form-control' , disabled: true%>
                  </div>
              </div>
              <!-- /.form-group -->
            </div>
            <div class="col-md-12">
              <div class="form-group">
               <label>Necessidades especiais</label>
                 <%= f.text_area :special_needs, :id => 'special_needs', :class => 'form-control',:length => '120' %>
              </div>

            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->

      </div>
      <!-- /.box -->

      <div class="box  box-info">
        <div class="box-header with-border">
          <h3 class="box-title">DADOS DO MEJ</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div>

        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>EJ Federada?</label>
                <div class="input-group">
                        <span class="input-group-addon">
                          <%= f.select(:federation_check,['Sim', 'Não', 'Pós-júnior'], {}) %>
                        </span>
                    <%= f.text_field :federation, :id => 'federation', placeholder: "Federação. Ex: FEJECE", class:"form-control", style: 'height: 36px'%>
                  </div>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                <label>Cargo</label>
                <%= f.text_field :job, :id => 'job', placeholder: "Ex: Analista, Diretor", class:"form-control"%>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
              <div class="form-group">
                <label>Nome da EJ</label>
                <%= f.text_field :junior_enterprise, :id => 'junior_enterprise', placeholder: "Empresa Junior", class:"form-control", "data-toggle"=>"tooltip" ,"title"=>"", "data-original-title"=>"Pós-júnior, informe a sua última EJ." %>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                <label>Nome Completo da Universidade</label>
                <%= f.text_field :university, :id => 'university', placeholder: "Universidade", class: 'form-control'%>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->



      </div>
      <!-- /.box -->

      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">ENDEREÇO</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div>

        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>CEP</label>
                <%= f.text_field :cep, placeholder: "CEP", id:"postal_code", class: 'form-control'%>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                <label>CIDADE</label>
                <%= f.text_field :city, placeholder: "Cidade", id:"city", class: 'form-control'%>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
              <div class="form-group">
                <label>ESTADO</label>
                <%= f.text_field :state, placeholder: "Estado", id:"state", class: 'form-control'%>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                <label>ENDEREÇO</label>
                <%= f.text_field :address, placeholder: "Rua, Bairro e número", id:"street", class: 'form-control'%>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->

      </div>
      <!-- /.box -->

      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">CONTATO</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div>

        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>MEU NUMERO</label>
                <%= f.text_field :phone, placeholder: "Número para contato.", id:"phone", class: 'form-control phone'%>
              </div>
              <!-- /.form-group -->
            </div>
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>NUMERO DO RESPONSAVEL</label>
                <%= f.text_field :phone_parents, placeholder: "Número para contato em caso de urgência", id:"phone", class: 'form-control phone'%>
              </div>
              <!-- /.form-group -->

            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>NOME DO RESPONSAVEL</label>
                <%= f.text_field :name_parents, placeholder: "Pai, Mãe, avós", id:"name", class: 'form-control'%>
              </div>
              <!-- /.form-group -->

            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->

      </div>
      <!-- /.box -->


      <div class="box box-success">
        <div class="box-header with-border">
          <button type="submit" class="btn btn-block btn-success">SALVAR</button>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </div>



      </div>
      <!-- /.box -->


    </section>
         <% end %>