<section class="content-header">
      <h1>
       Empresas Participantes
      </h1>
      
    </section>

 <section class="content">
      <div class="row">
        <div class="col-md-3">
      

          <div class="box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Todas as EJS (<%= @ej.count%>)</h3></br>
              <%= link_to crew_ej_list_path do %>Ver Todas<% end %></BR>
              <%= link_to "Baixar", crew_excel_ejlist_path(@lot, format: :xls) %>
              <div class="box-tools">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body no-padding" style="overflow-y: scroll; height: 400px">
              <ul class="nav nav-pills nav-stacked">
              <% @ej.each do |empresas, usuarios| %>
                <li  <% if empresas==params['ej'] %>
                	class="active"
                	<% end %>>
               <%= link_to crew_ej_list_path(:ej => "#{empresas}")do %> <span class="label label-primary" style="margin-right: 4px" data-toggle="tooltip" title="" data-original-title="Total de membros" ><%=  usuarios.count %> </span> 
               <span class="label label-success" style="margin-right: 4px" data-toggle="tooltip" title="" data-original-title="Total de membros pagantes" ><%= count_paymeny_ej(usuarios) %></span> 
                <%=  usuarios.map{ |h| h.junior_enterprise}.max.titleize %><% end %> </li>
                <% end %>
              </ul>
             <div class="with-border" style="margin-left: 8px"><b>Total de Ejs:</b> <%= @ej.count%></div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /. box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Membros <%= params['ej'].nil? ? '' : "- #{params['ej'].titleize}" %></h3>

             
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="table-responsive mailbox-messages">
              <div class="box-body">
              <table id="table_ecej" class="table table-striped table-bordered dt-responsive nowrap display"  cellspacing="0" width="100%">
                  <thead>
                     <tr>
                        <th>Nome</th>
                        <th>Cidade</th>
                        <th>Pagamento</th>
                        <th>EJ</th>
                        <th>Federada?</th>
                        <th class="noExport">Editar</th>
                     </tr>
                  </thead>
                  <tbody>       
                     <% @users_l.each do |users| %>
                     <tr>
                        <td><%= users.name.nil? ? '' : users.name.titleize%></td>
                        <td><%= users.city.nil? ? '' : users.city.titleize %></td>
                        <td>
                        <% if  users.payment.nil? %> 
                          Não selecionado
                        <% else %>
                          <%= users.payment.method %> - <% if users.payment.paid? %> Pago<% else %>Não Pago - <%=users.payment.portion_paid%>/<%=users.payment.portions%>
                          <% end %>
                        <%end %>
                        </td>
                        <td><%= users.junior_enterprise.nil? ? 'Não Informado' : users.junior_enterprise %></td>
                        <td><%= users.federation_check %></td> 
                        <td>
                           <%= link_to  edit_crew_user_path(users) do %>
                           <small class="btn btn-default dropdown-toggle btn-xs">
                              <i class="fa fa-pencil-square-o"></i> Editar
                           </small>
                           <!-- <span class="glyphicon glyphicon-wrench" aria-hidden="true" style="margin-left: 5px"></span> -->
                           <% end %> <i style="margin-left:3px"></i>

                        </td>
                     </tr>
                     <% end %>

                  </tbody>
               </table>
               </div>
                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->
            </div>
            <!-- /.box-body -->
            
          </div>
          <!-- /. box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->