<div id="content">

  <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

          <div id="page-header">

              <div class="row">
                <div class="span12">

                      <h2>SONU Acadêmico</h2>

                  </div><!-- end .span12 -->
              </div><!-- end .row -->

          </div><!-- end #page-header -->


    <div class="row" style="margin-bottom:50px">
            <div class="span12">

                  <div style="font-size: 10pt; font-family: Arial, Verdana; text-align: center;"><font face="Tahoma"><img data-orig-src="http://3.bp.blogspot.com/-IYOChPTSvY0/UHoRxwaUaFI/AAAAAAAAAbA/QFbKRxRgXMg/s200/SONU_ACADEMICO_2.png" src="https://images-blogger-opensocial.googleusercontent.com/gadgets/proxy?url=http%3A%2F%2F3.bp.blogspot.com%2F-IYOChPTSvY0%2FUHoRxwaUaFI%2FAAAAAAAAAbA%2FQFbKRxRgXMg%2Fs200%2FSONU_ACADEMICO_2.png&amp;container=blogger&amp;gadget=a&amp;rewriteMime=image%2F*" border="0" height="147" width="200">&nbsp;</font></div><div style="font-size: 10pt; font-family: Arial, Verdana;"><div><font face="Tahoma"><br></font></div><div style="text-align: justify;"><font face="Tahoma">Aqueles que participaram da organização já sabem: as atividades da SONU duram o ano inteiro. Para muito além dos dias do evento, inúmeros encontros com o intuito de definir temas, produzir guias, treinar regras de procedimento e desenvolver situações de crise - além de incontáveis horas de estudo e preparação - espalham-se pelos meses que antecedem a SONU.&nbsp;</font></div><div style="text-align: justify;"><font face="Tahoma"><br></font></div><div style="text-align: justify;"><font face="Tahoma">A ideia de que essa intensa produção acadêmica recebesse maior atenção é bandeira antiga dentro do Secretariado da SONU. Na verdade, inúmeros artigos científicos e trabalhos acadêmicos foram produzidos por organizadores e participantes ao longo dos anos, ainda que a partir de iniciativas individuais.&nbsp;</font></div><div style="text-align: justify;"><font face="Tahoma"><br></font></div><div style="text-align: justify;"><font face="Tahoma">Assim, acreditando no potencial do projeto e com o intuito de fortalecer e diversificar cada vez mais as atividades deste, resolvemos avançar a proposta de oficializar a atividade acadêmica que já ocorre naturalmente no decorrer da preparação de nossa estimada simulação, além de fomentar o incremento dessa produção.&nbsp;</font></div><div style="text-align: justify;"><font face="Tahoma"><br></font></div><div style="text-align: justify;"><font face="Tahoma">Dessa iniciativa nasceu o SONU ACADÊMICO – construído por e para estudantes -, um espaço permanente de debate e construção de conhecimento acerca de inúmeros temas internacionais.&nbsp;</font></div><div style="text-align: justify;"><font face="Tahoma"><br></font></div><div style="text-align: justify;"><font face="Tahoma">Não há temática nem tipo textual (descritivo, argumentativo, expositivo, etc) pré-estabelecidos, todavia os trabalhos devem obrigatoriamente possuir relação com assuntos de relevância internacional , além de prezar pela norma culta da língua portuguesa.&nbsp;</font></div><div style="text-align: justify;"><font face="Tahoma"><br></font></div><div style="text-align: justify;"><font face="Tahoma">A produção será veiculada através do sítio eletrônico da SONU e qualquer pessoa ligada ao programa está convidada a submeter textos de não mais que 04 laudas, contando com as referências bibliográficas, devendo necessariamente obedecer às regras da ABNT. Estes serão submetidos à análise de uma Comissão Editorial formada por antigos e atuais organizadores da SONU, apenas com o intuito de assegurar o padrão de qualidade acadêmica almejado pelo projeto. Além disso, a Comissão está trabalhando junto às Coordenações de Atividades Complementares da UFC, e equivalentes em outras unidades, de modo a garantir créditos de Pesquisa para os autores dos trabalhos aprovados.&nbsp;</font></div><div style="text-align: justify;"><font face="Tahoma"><br></font></div><div style="text-align: justify;"><font face="Tahoma">As contribuições são inteiramente voluntárias e devem ser enviadas para o e-mail contato@sonu.com.br com o(s) nome(s) e especificações do(s) respectivo(s) autor(es).</font></div></div><div style="font-size: 10pt; font-family: Arial, Verdana; text-align: justify;"><font face="Tahoma"><br></font></div><div style="font-size: 10pt; text-align: justify;"><font face="Tahoma">Também como atividade do SONU ACADÊMICO, o Secretariado da SONU 2016 torna pública a chamada para a proposição de artigos científicos para a composição da publicação da 1ª edição da Revista SONU.&nbsp;</font></div><div style="text-align: justify;"><font size="2"><font face="Tahoma">Edital:&nbsp;</font><a href="https://www.facebook.com/l.php?u=https%3A%2F%2Fgoo.gl%2FHTlNk3&amp;h=QAQFKOV62AQH68lMoIwyblqLOr-gvLeBxGporSxkoLwQrKg&amp;enc=AZOhrAv5hzQR4z_J9crrkW7NtFH4cAPChNQWn8hjbbAcAZI7SHVUWzb5VDPXivI0nhUY-2roWPCO_GABlP8UjeLVXM0YZHWMrj6DExJyM37mLtTl2KgbVVm1-FCvDitOPTiqw3mVqqBDbXHlhsmW28aOwAJ4V0RGEhy4zk8cdbl5PZpeBz2AWGraJ557EMeqRcDB6NR9NI5dvfnUdpJTC3pk&amp;s=1" target="_blank" rel="nofollow" style="margin: 0px; padding: 0px; border: 0px; border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; font-stretch: inherit; line-height: 21.4667px; font-family: helvetica, arial, sans-serif; vertical-align: baseline; color: rgb(59, 89, 152); text-decoration: none; outline: 0px; cursor: pointer;">https://goo.gl/HTlNk3</a></font></div><div style="font-family: Arial, Verdana; text-align: justify; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;"><font size="2">Adititvo:<a href="https://goo.gl/2RWFa8" target="_blank" rel="nofollow" style="color: rgb(59, 89, 152); cursor: pointer; text-decoration: none; font-family: helvetica, arial, sans-serif; line-height: 19.32px; background-color: rgb(255, 255, 255);">https://goo.gl/2RWFa8</a></font></div>
              </div><!-- end .span12 -->
          </div><!-- end. row -->

    <div class="row">
            <div class="span12">


                  <div style="margin-bottom:20px; ">
          <div style="float:left; margin-right:20px; width:400px">
            <%= image_tag("/uploads/435b61dd02a34fdc2e1fbaf3c3598431.jpg" ,class:"fotoborda", id:"academico")%>
          </div>
          <div style="float:left; width:520px">
            <h4>SONU ACADÊMICO #01 </h4>
            <h6><p><font size="3" face="Tahoma">No
decorrer do último mês, a atenção do mundo voltou-se para uma
crescente onda de protestos antiocidentais violentos, que tomaram
parte no chamado “Mundo Islâmico”. O estopim dessas
manifestações é reputado ao sentimento de revolta "dos
muçulmanos" frente a um vídeo amador norte-americano, postado
no websítio Youtube, cujo teor é eminentemente anti-islâmico. Mas
seria isto assim tão simples? Ou tais manifestações seriam apenas
o sintoma de questões de maior monta? [...]</font></p></h6>
            <p class="text-right" style="margin-top:20px; ">
              <a href="sonu-academico/artigo/as-manifestacoes-anti-ocidentais-o-ocidente-e-a-desinformacao" class="btn btn-green-dark">Ver artigo</a>
            </p>
          </div>
          <div style="clear:both"> </div>
                  </div>
        <div class="divider double-dotted"></div>
                  <div style="margin-bottom:20px; ">
          <div style="float:left; margin-right:20px; width:400px">
            <%= image_tag("/uploads/73415f4aa2c33bee05325746223cf3e8.jpg" ,class:"fotoborda", id:"academico")%>
          </div>
          <div style="float:left; width:520px">
            <h4>SONU ACADÊMICO #02 </h4>
            <h6><p><font size="3" face="Tahoma">Em uma de suas últimas manifestações
públicas para a mídia, Eric Hobsbawm, em análise dos eventos estrondosos de
2011, congratulou a perspectiva de ainda ser possível derrubar regimes
ditatoriais pela ampla manifestação popular, frisando o papel de uma nova
ferramenta revolucionária: as mídias sociais. [...]</font></p></h6>
            <p class="text-right" style="margin-top:20px; ">
              <a href="sonu-academico/artigo/o-impacto-politico-das-midias-sociais-nos-movimentos-revolucionarios-contemporaneos" class="btn btn-green-dark">Ver artigo</a>
            </p>
          </div>
          <div style="clear:both"> </div>
                  </div>
        <div class="divider double-dotted"></div>
                  <div style="margin-bottom:20px; ">
          <div style="float:left; margin-right:20px; width:400px">
            <%= image_tag("/uploads/0c7b6dc4a8dfdda0d40cfbee9593df25.jpg" ,class:"fotoborda", id:"academico")%>
          </div>
          <div style="float:left; width:520px">
            <h4>SONU ACADÊMICO #11</h4>
            <h6><p><font size="3" face="Tahoma">A
história de Uganda reflete a colonização britânica na África. Os primeiros
missionários da colônia se aventuraram na atual região do país em 1877 e,
dezessete anos depois, em 1894, o reino de Buganda tornou-se protetorado do
Reino Unido. A independência ocorreu em 1962 e Uganda tornou-se uma república. Os
anos pós-administração estrangeira são marcados por violentos golpes militares.
Durante esse período de instabilidade política, o país passou por grande
declínio econômico, guerras com as nações vizinhas e grandes violações de direitos
humanos. Estima-se que mais de cem mil ugandenses foram assassinados no mandato
do déspota Idi Amin Dada [...]</font></p></h6>
            <p class="text-right" style="margin-top:20px; ">
              <a href="sonu-academico/artigo/a-atuacao-da-cruz-vermelha-nos-campos-de-deslocados-internos-no-norte-de-uganda" class="btn btn-green-dark">Ver artigo</a>
            </p>
          </div>
          <div style="clear:both"> </div>
                  </div>
        <div class="divider double-dotted"></div>
                  <div style="margin-bottom:20px; ">
          <div style="float:left; margin-right:20px; width:400px">
            <%= image_tag("/uploads/aa0e19be0912af11949ea7b42407d50e.jpg" ,class:"fotoborda", id:"academico")%>
          </div>
          <div style="float:left; width:520px">
            <h4>SONU ACADÊMICO #12</h4>
            <h6><p><font size="3" face="Tahoma">
O surgimento de uma nova ordem mundial, simbolizada pela queda do muro de
Berlim
e o fim da Guerra Fria em 1989, apresenta novas perspectivas para
compreender o sistema internacional vigente e suscitar uma reflexão
sobre a construção e constituição deste mesmo sistema. No entanto, a
prevalência do sistema
capitalista em detrimento do comunista não representou, totalmente, o
fim de uma dinâmica bipolar no sistema internacional. Os resquícios da
Guerra Fria representados atualmente pela conflitualidade entre as
Coreias do Norte e do Sul indicam que ainda há uma – dentre as várias
áreas do globo – capaz de desestabilizar a segurança internacional.</font></p></h6>
            <p class="text-right" style="margin-top:20px; ">
              <a href="sonu-academico/artigo/coreias-e-a-dinamica-de-um-sistema-bipolar" class="btn btn-green-dark">Ver artigo</a>
            </p>
          </div>
          <div style="clear:both"> </div>
                  </div>
        <div class="divider double-dotted"></div>
                  <div style="margin-bottom:20px; ">
          <div style="float:left; margin-right:20px; width:400px">
            <%= image_tag("/uploads/16f0a2e5c4bdd74b79d81fd3fcdf876f.jpg" ,class:"fotoborda", id:"academico")%>
          </div>
          <div style="float:left; width:520px">
            <h4>SONU ACADÊMICO #13</h4>
            <h6><p><font size="3" face="Tahoma">Na
manhã do dia 25 de outubro de 1975, Vladimir Herzog apresenta-se no DOI-CODI
São Paulo. Ao final desse mesmo dia, acrescenta-se à história política
brasileira uma das mais controversas mortes, dentre tantas ocorridas durante a
Ditadura Militar. A vida de Vladimir Herzog, jornalista atuante e respeitado,
fora usurpada pela necessidade premente do II Exército de São Paulo de impor
seus desvirtuados padrões de inquérito[...]</font></p></h6>
            <p class="text-right" style="margin-top:20px; ">
              <a href="sonu-academico/artigo/a-lei-da-anistia-e-o-caso-de-vladimir-herzog" class="btn btn-green-dark">Ver artigo</a>
            </p>
          </div>
          <div style="clear:both"> </div>
                  </div>
        <div class="divider double-dotted"></div>
                  <div style="margin-bottom:20px; ">
          <div style="float:left; margin-right:20px; width:400px">
            <%= image_tag("/uploads/af18271c26e531004ce7200282ab39bc.jpg" ,class:"fotoborda", id:"academico")%>
          </div>
          <div style="float:left; width:520px">
            <h4>SONU ACADÊMICO #03</h4>
            <h6><p><font size="3" face="Tahoma">A despeito da boa vontade do simpático Presidente, a situação política
do fim de seu atual mandato e as perspectivas sociais, econômicas e políticas que
se mostram no horizonte levam a crer que o melhor poderá, de fato, vir, embora
seja muito pouco provável que venha de maneira simples e rápida. Isso se dá
pelo fato de que, conquanto se sinta revigorado para enfrentar mais quatro anos
à frente do País, a maioria dos grandes desafios da próxima gestão de Obama é
de problemas antigos e conhecidos, enquanto os novos desafios, por sua vez, se
mostram de resolução pouco fácil. [...]</font></p></h6>
            <p class="text-right" style="margin-top:20px; ">
              <a href="sonu-academico/artigo/a-reeleicao-de-obama-os-desafios-para-os-proximos-quatro-anos-e-a-espera-para-que-o-melhor-realmente-venha" class="btn btn-green-dark">Ver artigo</a>
            </p>
          </div>
          <div style="clear:both"> </div>
                  </div>
        <div class="divider double-dotted"></div>
                  <div style="margin-bottom:20px; ">
          <div style="float:left; margin-right:20px; width:400px">
            <%= image_tag("/uploads/6d9834550c491f77d4d72457a09b560e.jpg" ,class:"fotoborda", id:"academico")%>
          </div>
          <div style="float:left; width:520px">
            <h4>SONU ACADÊMICO #04</h4>
            <h6><span style="font-family: Tahoma; font-size: medium; line-height: 20px; text-align: justify; text-indent: 56.733333587646484px;">Em notícia veiculada no Jornal Diário do Nordeste de 30 de outubro de 2012, o prefeito eleito de Fortaleza, Roberto Cláudio, afirmou que dará prioridade às obras de mobilidade urbana, incluídas as que visam a Copa do Mundo, inclusive as desapropriações relacionadas às intervenções na Via Expressa.</span><a data-blogger-escaped-href="file:///C:/Users/Marcia/Downloads/Meu%20artigo%20-%20SEGUNDO%20COMENTARIO%20THAIS%20(2).doc#_edn1" name="_ednref1" title="" style="font-family: Tahoma; font-size: medium; line-height: 20px; text-align: justify; text-indent: 56.733333587646484px;"></a><span style="font-family: Tahoma; font-size: medium; line-height: 20px; text-align: justify; text-indent: 56.733333587646484px;">No mesmo periódico, no dia seguinte, o secretário municipal da Coordenadoria de Projetos Especiais, Relações Institucionais e Internacionais, Geraldo Accioly, considerou que transferir os moradores da Via Expressa e levá-los para um conjunto habitacional a 20 Km de onde eles moram seria um crime e que esta medida implicará em grande reação das comunidades.</span><a data-blogger-escaped-href="file:///C:/Users/Marcia/Downloads/Meu%20artigo%20-%20SEGUNDO%20COMENTARIO%20THAIS%20(2).doc#_edn2" name="_ednref2" title="" style="font-family: Tahoma; font-size: medium; line-height: 20px; text-align: justify; text-indent: 56.733333587646484px;"></a><span style="font-family: Tahoma; font-size: medium; line-height: 20px; text-align: justify; text-indent: 56.733333587646484px;">&nbsp;Tais pronunciamentos, diametralmente opostos, vindos de pessoas que integram/integrarão a gestão municipal de uma mesma cidade, traz à tona, dentre tantos, o seguinte questionamento: quais mecanismos internacionais resguardam esses moradores, assegurando-lhes o respeito aos seus direitos enquanto seres humanos?</span></h6>
            <p class="text-right" style="margin-top:20px; ">
              <a href="sonu-academico/artigo/direito-a-moradia-adequada-obrigacao-internacional-desafio-local" class="btn btn-green-dark">Ver artigo</a>
            </p>
          </div>
          <div style="clear:both"> </div>
                  </div>
        <div class="divider double-dotted"></div>
                  <div style="margin-bottom:20px; ">
          <div style="float:left; margin-right:20px; width:400px">
            <%= image_tag("/uploads/458da24a65129b85e36a63e48b6b682f.jpg" ,class:"fotoborda", id:"academico")%>
          </div>
          <div style="float:left; width:520px">
            <h4>SONU ACADÊMICO #05</h4>
            <h6><p><font size="3" face="Tahoma">Dominado durante muito tempo pelo Reino Unido e, posteriormente, por
Israel, o povo palestino, no último 29 de novembro, vivenciou um dos dias mais
importantes de sua história. Com 138 votos favoráveis, 9 votos contrários e 41
abstenções, a Palestina conquistou, junto à Organização das Nações Unidas, o
status de Estado observador. [...]</font></p></h6>
            <p class="text-right" style="margin-top:20px; ">
              <a href="sonu-academico/artigo/o-reconhecimento-da-onu-e-a-ascensao-da-palestina-ao-status-de-estado" class="btn btn-green-dark">Ver artigo</a>
            </p>
          </div>
          <div style="clear:both"> </div>
                  </div>
        <div class="divider double-dotted"></div>
                  <div style="margin-bottom:20px; ">
          <div style="float:left; margin-right:20px; width:400px">
            <%= image_tag("/uploads/83a756566721b045f560cfd842b6438e.jpg" ,class:"fotoborda", id:"academico")%>
          </div>
          <div style="float:left; width:520px">
            <h4>SONU ACADÊMICO #09</h4>
            <h6><p><font size="3" face="Tahoma">Ainda no século XIX, surgiu a Associated Press, primeira agência do
continente americano, criada pelos jornais de Nova York que não queriam
enviar repórteres para cobrir a Guerra Civil nos estados do sul. Eles
utilizavam os jornalistas dos jornais locais sulistas como seus
correspondentes[...] </font></p></h6>
            <p class="text-right" style="margin-top:20px; ">
              <a href="sonu-academico/artigo/cobertura-internacional-o-papel-dos-correspondentes-e-enviados-especiais-nas-agencias-de-noticias" class="btn btn-green-dark">Ver artigo</a>
            </p>
          </div>
          <div style="clear:both"> </div>
                  </div>
        <div class="divider double-dotted"></div>
                  <div style="margin-bottom:20px; ">
          <div style="float:left; margin-right:20px; width:400px">
            <%= image_tag("/uploads/22f875779a3c6a65d7d7da22b753eb76.jpg" ,class:"fotoborda", id:"academico")%>
          </div>
          <div style="float:left; width:520px">
            <h4>SONU ACADÊMICO #06</h4>
            <h6><p><font size="3" face="Tahoma">Todos ficaram estupefatos ao ver o
vendedor ambulante de frutas e verduras Muhammad Bouazizi incendiar seu próprio
corpo em frente ao palácio do Governo Tunisino, por ter sua licença cassada e
se ver impossibilitado de exercer sua profissão. A partir desse momento,
Bouazizi tornou-se o símbolo da Primavera Árabe, levando grande parte da
população a queimar pneus e gritarem palavras de ordem, exigindo empregos e
liberdade. A Primavera Árabe mostrou ao restante do mundo que as populações de
países como Tunísia, Líbia e Egito também buscavam, da maneira que lhes foi
mais apropriada, algo que para os ocidentais é obviamente necessário para o
desenvolvimento de um Estado: a Democracia. [...]</font></p></h6>
            <p class="text-right" style="margin-top:20px; ">
              <a href="sonu-academico/artigo/os-efeitos-primavera-arabe-e-a-dificuldade-em-se-legitimar-um-governo-democatico-no-egito" class="btn btn-green-dark">Ver artigo</a>
            </p>
          </div>
          <div style="clear:both"> </div>
                  </div>
        <div class="divider double-dotted"></div>
                  <div style="margin-bottom:20px; ">
          <div style="float:left; margin-right:20px; width:400px">
            <%= image_tag("/uploads/160883ef8d60c5acd6338b2b35a8042c.jpg" ,class:"fotoborda", id:"academico")%>
          </div>
          <div style="float:left; width:520px">
            <h4>SONU ACADÊMICO #07</h4>
            <h6><p><font size="3" face="Tahoma">Em
2012, quando completaram 30 anos do término da Guerra das Malvinas, o governo
argentino denunciou a Grã-Bretanha pela crescente militarização das Ilhas
Malvinas e, principalmente, pelo envio do navio HMS Dauntless, fortemente
equipado com mísseis antiaéreos. Para Jorge Arguello, embaixador da Argentina
nos Estados Unidos, esse armamento não visa à proteção a ataques argentinos,
mas sim a explorar os recursos naturais das águas do Atlântico Sul. Além disso,
o Embaixador alega que haveria o interesse da Inglaterra em projetar sua
influência à Antártica.</font></p></h6>
            <p class="text-right" style="margin-top:20px; ">
              <a href="sonu-academico/artigo/a-retomada-da-discussao-do-status-das-ilhas-malvinas" class="btn btn-green-dark">Ver artigo</a>
            </p>
          </div>
          <div style="clear:both"> </div>
                  </div>
        <div class="divider double-dotted"></div>
                  <div style="margin-bottom:20px; ">
          <div style="float:left; margin-right:20px; width:400px">
            <%= image_tag("/uploads/445f62234e4807a1a2366e5a8ca5f17e.jpg" ,class:"fotoborda", id:"academico")%>
          </div>
          <div style="float:left; width:520px">
            <h4>SONU ACADÊMICO #08</h4>
            <h6><div><font size="3"><font face="Tahoma">Abarcando cada vez mais relevância na geopolítica internacional, a região
ártica desponta como uma área de propensa exploração territorial e econômica.
Juridicamente igualada ao status de mare liberum<a href="http://www.blogger.com/blogger.g?blogID=4993798513335299514#_ftn2" name="_ftnref2" title=""></a>, a área é
territorialmente regida pela Convenção das Nações Unidas sobre o Direito do Mar, de 1982, que recentemente completou trinta anos de
sua criação[...]</font><br></font></div></h6>
            <p class="text-right" style="margin-top:20px; ">
              <a href="sonu-academico/artigo/o-regime-juridico-do-artico-e-a-necessidade-de-implementacao-do-desenvolvimento-sustentavel" class="btn btn-green-dark">Ver artigo</a>
            </p>
          </div>
          <div style="clear:both"> </div>
                  </div>
        <div class="divider double-dotted"></div>
                  <div style="margin-bottom:20px; ">
          <div style="float:left; margin-right:20px; width:400px">
            <%= image_tag("/uploads/a12bde624fea9b48d9e4f6dd8d4471b5.jpg" ,class:"fotoborda", id:"academico")%>
          </div>
          <div style="float:left; width:520px">
            <h4>SONU ACADÊMICO #10</h4>
            <h6><p><font size="3" face="Tahoma">A República do Mali é um
país localizado na África Ocidental, com população superior a 15 milhões de
habitantes.
Na era colonial, mais precisamente no fim do século XIX, Mali ficou sob o
controle da França, fazendo parte do Sudão Francês. Já em 1960, com o
rompimento entre Senegal e Mali, os quais, ainda no ano anterior, haviam se
unido para constituir a Federação do Mali, o povo maliano tornou-se uma nação
independente[...]</font></p></h6>
            <p class="text-right" style="margin-top:20px; ">
              <a href="sonu-academico/artigo/a-guerra-no-mali-e-a-intervencao-francesa" class="btn btn-green-dark">Ver artigo</a>
            </p>
          </div>
          <div style="clear:both"> </div>
                  </div>
        <div class="divider double-dotted"></div>
                  <div style="margin-bottom:20px; ">
          <div style="float:left; margin-right:20px; width:400px">
            <%= image_tag("/uploads/95641c6cd16b8b249e4da36fd381daab.jpg" ,class:"fotoborda", id:"academico")%>
          </div>
          <div style="float:left; width:520px">
            <h4>SONU ACADÊMICO #14</h4>
            <h6><p><font size="3" face="Tahoma">
As alterações climáticas e os impactos no meio ambiente, problemáticas
presentes, sobretudo, nas últimas décadas, influenciam em diferentes
aspectos da sociedade, quais sejam, ambientais, políticos, sociais e
econômicos. Ademais, sendo inevitável a dependência entre o homem e o
meio em que habita, essas catástrofes também são responsáveis pelo
deslocamento de milhões de pessoas, caracterizando-se, portanto, a
vertente humana das alterações ambientais [...]</font></p><div class="MsoNormal" style="line-height: 150%; margin-right: 0.85pt; text-align: justify; text-indent: 35.45pt;"><p><font size="3"><br></font></p></div></h6>
            <p class="text-right" style="margin-top:20px; ">
              <a href="sonu-academico/artigo/as-implicacoes-da-tipificacao-do-conceito-de-refugiado-ambiental" class="btn btn-green-dark">Ver artigo</a>
            </p>
          </div>
          <div style="clear:both"> </div>
                  </div>
        <div class="divider double-dotted"></div>
                  <div style="margin-bottom:20px; ">
          <div style="float:left; margin-right:20px; width:400px">
            <%= image_tag("/uploads/b26d4cba18c842d7e831c83cf1a56474.jpg" ,class:"fotoborda", id:"academico")%>
          </div>
          <div style="float:left; width:520px">
            <h4>SONU ACADÊMICO #15</h4>
            <h6><p><font size="3" face="Tahoma">Dentre os mais diversos
tópicos que o Direito Internacional Humanitário aborda, a defesa e a segurança
dos que mantêm a saúde dos feridos, bem como a de edifícios e dos meios para
que exista maior eficiência, é um dos mais importantes. Isto reside na questão
de que se não houver tratamento médico adequado no campo, soldados (nem tão
pouco civis) terão a chances de sobreviver. Dessa forma, o problema está quando
não se respeita as Convenções de Genebra.</font></p></h6>
            <p class="text-right" style="margin-top:20px; ">
              <a href="sonu-academico/artigo/health-care-in-danger-quando-nem-mesmo-mais-o-conflito-armado-respeita-o-direito-internacional-humanitario" class="btn btn-green-dark">Ver artigo</a>
            </p>
          </div>
          <div style="clear:both"> </div>
                  </div>
        <div class="divider double-dotted"></div>
                  <div style="margin-bottom:20px; ">
          <div style="float:left; margin-right:20px; width:400px">
            <%= image_tag("/uploads/cf6f0fc064ce7988dcb4d751328c1e92.jpg" ,class:"fotoborda", id:"academico")%>
          </div>
          <div style="float:left; width:520px">
            <h4>SONU ACADÊMICO #16</h4>
            <h6><span style="font-size: medium; text-align: justify; text-indent: 56.69291305541992px;"><font face="Tahoma">Teoria dos Jogos é um ramo da matemática (que se expandiu para economia e política) que estuda as formas como interações estratégicas entre agentes econômicos produzem resultados em relação às preferências (ou utilidades) desses agentes, podendo estes resultados não ter sido planejados ou desejados por nenhum deles. Ou seja, estuda o que acontece quando a melhor (ou pior) decisão para uma pessoa depende de expectativas do que outra ou mais pessoas vão decidir e vice-versa.</font></span></h6>
            <p class="text-right" style="margin-top:20px; ">
              <a href="sonu-academico/artigo/teoria-dos-jogos-e-relacoes-internacionais" class="btn btn-green-dark">Ver artigo</a>
            </p>
          </div>
          <div style="clear:both"> </div>
                  </div>
        <div class="divider double-dotted"></div>
                  <div style="margin-bottom:20px; ">
          <div style="float:left; margin-right:20px; width:400px">
            <%= image_tag("/uploads/e11649418258cd1a6d3505e9a62ee823.jpg" ,class:"fotoborda", id:"academico")%>
          </div>
          <div style="float:left; width:520px">
            <h4>SONU ACADÊMICO #17</h4>
            <h6><p><font size="3" face="Tahoma">Atualmente
o cidadão europeu passa por um momento de perda de garantias. Direitos que
antes eram financiados pelo estado agora devem ser patrocinados pelo indivíduo.
O corte de gastos atingiu, inclusive, os organismos internacionais, como é o
caso da Organização Mundial de Saúde, órgão mantido por repasses obrigatórios
dos países membros da ONU, a quem é vinculada, e isso restringe a atuação do
órgão no combate a doenças e na efetivação de projetos que visam salvar vidas
mundialmente.</font></p></h6>
            <p class="text-right" style="margin-top:20px; ">
              <a href="sonu-academico/artigo/as-consequencias-da-crise-economica-mundial-no-ambito-da-saude" class="btn btn-green-dark">Ver artigo</a>
            </p>
          </div>
          <div style="clear:both"> </div>
                  </div>
        <div class="divider double-dotted"></div>
                  <div style="margin-bottom:20px; ">
          <div style="float:left; margin-right:20px; width:400px">
            <%= image_tag("/uploads/ddb0ed574cb7b3a6bc49a97d8fcdad10.jpg" ,class:"fotoborda", id:"academico")%>
          </div>
          <div style="float:left; width:520px">
            <h4>SONU ACADÊMICO #18</h4>
            <h6><p><font size="3"><font face="Tahoma">Na Austrália, a título de exemplo, os danos causados pelos crimes de
identidade são estimados na ordem de 4 bilhões de dólares anualmente<a data-blogger-escaped-href="file:///C:/Users/Usuario/Downloads/SONU%20Academico%20-%20A%20Repercuss%C3%A3o%20Internacional%20dos%20Crimes%20de%20Identidade.doc#_ftn2" name="_ftnref2" title=""></a>.
Diversos fatores, no entanto, dificultam sobremaneira a prevenção contra esse
tipo de ação, entre eles: i) o fato de constituírem elementos de outros crimes,
o que faz com que não sejam devidamente registrados e quantificados; ii) a
falta de definições legais precisas das condutas e iii) a baixa porcentagem
desse tipo de crimes que é relatada às autoridades competentes [...]</font><br></font></p></h6>
            <p class="text-right" style="margin-top:20px; ">
              <a href="sonu-academico/artigo/a-repercussao-internacional-dos-crimes-de-identidade" class="btn btn-green-dark">Ver artigo</a>
            </p>
          </div>
          <div style="clear:both"> </div>
                  </div>
        <div class="divider double-dotted"></div>
                  <div style="margin-bottom:20px; ">
          <div style="float:left; margin-right:20px; width:400px">
            <%= image_tag("/uploads/d852d62760b9dc5de04146a1d57fbab9.png" ,class:"fotoborda", id:"academico")%>
          </div>
          <div style="float:left; width:520px">
            <h4>SONU ACADÊMICO #19</h4>
            <h6><p class="MsoBodyText" style="margin: 6.7pt 5.2pt 0.0001pt 5.6pt; text-align: justify; text-indent: 56.6pt;"><span lang="EN-US" style="font-size:11.0pt;font-family:
" times="" new="" roman","serif";mso-fareast-font-family:"times="" roman";mso-ansi-language:="" en-us;mso-fareast-language:en-us;mso-bidi-language:ar-sa"="">No decorrer da
historia, a tortura é e continua sendo vastamente utilizada. Dos hereges na
Santa Inquisição aos suspeitos de terrorismo presos na baia de Guantánamo, as
vítimas desse tratamento desumano sofrem com condições que atentam contra a sua
dignidade&nbsp; e integridade física. [...]</span></p></h6>
            <p class="text-right" style="margin-top:20px; ">
              <a href="sonu-academico/artigo/tortura-para-obtencao-de-informacoes" class="btn btn-green-dark">Ver artigo</a>
            </p>
          </div>
          <div style="clear:both"> </div>
                  </div>
        <div class="divider double-dotted"></div>


              </div><!-- end .span12 -->
          </div><!-- end. row -->

  <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  </div>
