<div id="content">

    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div id="page-header">

        <div class="row">
            <div class="span12">

                <h2>Comitês</h2>

            </div>
            <!-- end .span12 -->
        </div>
        <!-- end .row -->

    </div>
    <!-- end #page-header -->

    <div class="row">
        <div class="span12">

            <div style="margin-bottom:20px; ">
                <div style="float:left; margin-right:20px; width:400px">
                    <%= image_tag("/uploads/a467a34088eec1b71ebb59895ada02a6.png",class:"fotoborda", id:"comitee")%>
                </div>
                <div style="float:left; width:520px">
                    <h4>Comitê de Imprensa Internacional - CII</h4>
                    <h6><br></h6>
                    <p class="text-right" style="margin-top:20px; ">
                        <a href="/comites/comitedeimprensa" class="btn btn-green-dark">Ver mais</a>
                    </p>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="divider double-dotted"></div>
            <div style="margin-bottom:20px; ">
                <div style="float:left; margin-right:20px; width:400px">
                    <%= image_tag("/uploads/8f89a2fc407673018d3af376235ee698.png",class:"fotoborda", id:"comitee" )%>
                </div>
                <div style="float:left; width:520px">
                    <h4>Conferência Internacional para Resolução da Questão de Laos – 1962 (Mini-SONU)
                    </h4>
                    <h6>
                        <span class="Apple-tab-span" style="white-space:pre"></span>
                    </h6>
                    <p class="text-right" style="margin-top:20px; ">
                        <a href="/comites/laos" class="btn btn-green-dark">Ver mais</a>
                    </p>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="divider double-dotted"></div>
            <div style="margin-bottom:20px; ">
                <div style="float:left; margin-right:20px; width:400px">
                    <%= image_tag("/uploads/ff9583e8205d25c537740c44ee9124b0.jpg",class:"fotoborda", id:"comitee" )%>
                </div>
                <div style="float:left; width:520px">
                    <h4>Corte Interamericana de Direitos Humanos – CIDH</h4>
                    <h6></h6>
                    <p class="text-right" style="margin-top:20px; ">
                        <a href="/comites/cidh" class="btn btn-green-dark">Ver mais</a>
                    </p>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="divider double-dotted"></div>
            <div style="margin-bottom:20px; ">
                <div style="float:left; margin-right:20px; width:400px">
                    <%= image_tag("/uploads/54e17e066193a614fd3a0a353cd6c95b.gif",class:"fotoborda", id:"comitee" )%>
                </div>
                <div style="float:left; width:520px">
                    <h4>Gabinete do Presidente da República Federativa do Brasil</h4>
                    <h6></h6>
                    <p class="text-right" style="margin-top:20px; ">
                        <a href="/comites/gabiente" class="btn btn-green-dark">Ver mais</a>
                    </p>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="divider double-dotted"></div>
            <div style="margin-bottom:20px; ">
                <div style="float:left; margin-right:20px; width:400px">
                    <%= image_tag("/uploads/f10acdd27a87e94cfe6d9a38f237a449.png",class:"fotoborda", id:"comitee" )%>
                </div>
                <div style="float:left; width:520px">
                    <h4>Organização das Nações Unidas para a Educação, a Ciência e a Cultura – UNESCO (Mini-SONU)</h4>
                    <h6><br></h6>
                    <p class="text-right" style="margin-top:20px; ">
                        <a href="/comites/unesco" class="btn btn-green-dark">Ver mais</a>
                    </p>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="divider double-dotted"></div>
            <div style="margin-bottom:20px; ">
                <div style="float:left; margin-right:20px; width:400px">
                    <%= image_tag("/uploads/f57a5c20ea5615e4fcb6db6eca2e691e.png",class:"fotoborda", id:"comitee" )%>
                </div>
                <div style="float:left; width:520px">
                    <h4>Organização Mundial da Saúde – OMS</h4>
                    <h6><br></h6>
                    <p class="text-right" style="margin-top:20px; ">
                        <a href="/comites/oms" class="btn btn-green-dark">Ver mais</a>
                    </p>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="divider double-dotted"></div>
            <div style="margin-bottom:20px; ">
                <div style="float:left; margin-right:20px; width:400px">
                    <%= image_tag("/uploads/e1f114662d31ebd772222cd2bbeb83c5.png",class:"fotoborda", id:"comitee" )%>
                </div>
                <div style="float:left; width:520px">
                    <h4>Terceiro Comitê da Assembleia Geral das Nações Unidas – AGNU: Comitê para Assuntos Sociais, Culturais e Humanitários (SoCHum)
                    </h4>
                    <h6></h6>
                    <p class="text-right" style="margin-top:20px; ">
                        <a href="/comites/agnu" class="btn btn-green-dark">Ver mais</a>
                    </p>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="divider double-dotted"></div>
            <div style="margin-bottom:20px; ">
                <div style="float:left; margin-right:20px; width:400px">
                    <%= image_tag("/uploads/b5d29ebb83791b7d1defc79ea2fe2793.gif",class:"fotoborda", id:"comitee" )%>
                </div>
                <div style="float:left; width:520px">
                    <h4>United Nations Security Council - UNSC</h4>
                    <h6></h6>
                    <p class="text-right" style="margin-top:20px; ">
                        <a href="/comites/unsc" class="btn btn-green-dark">Ver mais</a>
                    </p>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="divider double-dotted"></div>

        </div>
        <!-- end .span12 -->
    </div>
    <!-- end. row -->

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div>
