<div id="content">

    <!-- Aqui fica a background_image -->
    <%= render "site/shared/background_image"%>
    <!-- Aqui ficam as notícias -->
    <%= render "site/shared/notices"%>
    <br><br>
    <!-- Aqui fica our partners -->
    <%= render "site/shared/our_partners"%>
    <!-- Aqui fica os videos -->
    <%= render "site/shared/videos"%>
    <!-- Aqui fica o social network -->
    <%= render "site/shared/social_networking"%>

    <br><br>

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div>
