<div id="content">

    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div id="page-header">

        <div class="row">
            <div class="span12">

                <h2>
                    Inscrições
                </h2>

            </div>
            <!-- end .span12 -->
        </div>
        <!-- end .row -->

    </div>
    <!-- end #page-header -->

    <div class="row">
        <div class="span12">

            <h3 style="margin-bottom:30px; margin-top:20px" class="headline">
                <span>Inscrições Abertas</span>
            </h3>

        </div>
        <!-- end .span12 -->
    </div>
    <!-- end. row -->

    <div class="row">
        <div class="span12">

            <h3 style="margin-bottom:30px; margin-top:20px" class="headline">
                <span>Inscrições Encerradas</span>
            </h3>

            <div style="float:left; margin-right:30px; margin-bottom:30px; width:290px; min-height:400px">
                <a href="/inscricao/acnur">
                  <%= image_tag("/uploads/d59c7698b58cd006b608ef32f8a744b8.png" ,class:"fotoborda", style:'width:280px')%>
                </a>
                <div>
                    <h4>
                        <a href="/inscricao/acnur">Alto Comissariado das Nações Unidas para Refugiados - ACNUR</a>
                    </h4>
                </div>
                <div style="text-align:left">
                    <i class="fa fa-calendar"></i>
                    21/08/2016</div>
                <div style="text-align:left">
                    Ensino Superior
                </div>
                <div style="text-align:left">
                    <i class="fa fa-clock-o"></i>
                    Fila de Espera</div>

            </div>

            <div style="float:left; margin-right:30px; margin-bottom:30px; width:290px; min-height:400px">
                <a href="/inscricao/acnurcotas">
                  <%= image_tag("/uploads/f00ec29ae4048c770ac016f16ceda6a1.png" ,class:"fotoborda", style:'width:280px')%>
                </a>
                <div>
                    <h4>
                        <a href="/inscricao/acnurcotas">Alto Comissariado das Nações Unidas para Refugiados - ACNUR (cotas)</a>
                    </h4>
                </div>
                <div style="text-align:left">
                    <i class="fa fa-calendar"></i>
                    21/08/2016</div>
                <div style="text-align:left">
                    Ensino Superior
                </div>
                <div style="text-align:left">
                    <i class="fa fa-clock-o"></i>
                    Fila de Espera</div>

            </div>

            <div style="float:left; margin-right:0px; margin-bottom:30px; width:290px; min-height:400px">
                <a href="/inscricao/cii">
                  <%= image_tag("/uploads/adac232cc4d2fbb1edfc14e21ee26f47.png" ,class:"fotoborda", style:'width:280px')%>
                </a>
                <div>
                    <h4>
                        <a href="/inscricao/cii">Comitê de Imprensa Internacional - CII</a>
                    </h4>
                </div>
                <div style="text-align:left">
                    <i class="fa fa-calendar"></i>
                    21/08/2016</div>
                <div style="text-align:left">
                    Ensino Superior
                </div>

            </div>

            <div style="float:left; margin-right:30px; margin-bottom:30px; width:290px; min-height:400px">
                <a href="/inscricao/ciicotas">
                  <%= image_tag("/uploads/ca49f5ad8f44707198f56955dedee513.png" ,class:"fotoborda", style:'width:280px')%>
                </a>
                <div>
                    <h4>
                        <a href="/inscricao/ciicotas">Comitê de Imprensa Internacional - CII (cotas)</a>
                    </h4>
                </div>
                <div style="text-align:left">
                    <i class="fa fa-calendar"></i>
                    21/08/2016</div>
                <div style="text-align:left">
                    Ensino Superior
                </div>
                <div style="text-align:left">
                    <i class="fa fa-clock-o"></i>
                    Fila de Espera</div>

            </div>

            <div style="float:left; margin-right:30px; margin-bottom:30px; width:290px; min-height:400px">
                <a href="/inscricao/cs">
                  <%= image_tag("/uploads/215f2bbb0c309595f62e3cd55a60008a.jpg" ,class:"fotoborda", style:'width:280px')%>
                </a>
                <div>
                    <h4>
                        <a href="/inscricao/cs">Conselho de Segurança das Nações Unidas - CSNU (Mini-SONU)</a>
                    </h4>
                </div>
                <div style="text-align:left">
                    <i class="fa fa-calendar"></i>
                    21/08/2016</div>
                <div style="text-align:left">
                    Ensino Médio
                </div>

            </div>

            <div style="float:left; margin-right:0px; margin-bottom:30px; width:290px; min-height:400px">
                <a href="/inscricao/cscotas">
                  <%= image_tag("/uploads/6b53441d8d580d8dd83bfa1e45a7ec0b.jpg" ,class:"fotoborda", style:'width:280px')%>
                </a>
                <div>
                    <h4>
                        <a href="/inscricao/cscotas">Conselho de Segurança das Nações Unidas - CSNU (Mini-SONU) (cotas)</a>
                    </h4>
                </div>
                <div style="text-align:left">
                    <i class="fa fa-calendar"></i>
                    21/08/2016</div>
                <div style="text-align:left">
                    Ensino Médio
                </div>
                <div style="text-align:left">
                    <i class="fa fa-clock-o"></i>
                    Fila de Espera</div>

            </div>

            <div style="float:left; margin-right:30px; margin-bottom:30px; width:290px; min-height:400px">
                <a href="/inscricao/fgi">
                  <%= image_tag("/uploads/a5cd8713bd691385a20fb538a2878f6d.jpg" ,class:"fotoborda", style:'width:280px')%>
                </a>
                <div>
                    <h4>
                        <a href="/inscricao/fgi">Fórum de Governança da Internet - FGI</a>
                    </h4>
                </div>
                <div style="text-align:left">
                    <i class="fa fa-calendar"></i>
                    21/08/2016</div>
                <div style="text-align:left">
                    Ensino Superior
                </div>

            </div>

            <div style="float:left; margin-right:30px; margin-bottom:30px; width:290px; min-height:400px">
                <a href="/inscricao/fgicotas">
                  <%= image_tag("/uploads/f4ddd7ffeaa3f3b61ecf216110ebf795.jpg" ,class:"fotoborda", style:'width:280px')%>
                </a>
                <div>
                    <h4>
                        <a href="/inscricao/fgicotas">Fórum de Governança da Internet - FGI (cotas)</a>
                    </h4>
                </div>
                <div style="text-align:left">
                    <i class="fa fa-calendar"></i>
                    21/08/2016</div>
                <div style="text-align:left">
                    Ensino Superior
                </div>

            </div>

            <div style="float:left; margin-right:0px; margin-bottom:30px; width:290px; min-height:400px">
                <a href="/inscricao/fao">
                  <%= image_tag("/uploads/56c89eca991edfc93bcb323bd941d4a5.jpg" ,class:"fotoborda", style:'width:280px')%>
                </a>
                <div>
                    <h4>
                        <a href="/inscricao/fao">Organização das Nações Unidas para Alimentação e Agricultura - FAO</a>
                    </h4>
                </div>
                <div style="text-align:left">
                    <i class="fa fa-calendar"></i>
                    21/08/2016</div>
                <div style="text-align:left">
                    Ensino Médio
                </div>

            </div>

            <div style="float:left; margin-right:30px; margin-bottom:30px; width:290px; min-height:400px">
                <a href="/inscricao/faocotas">
                  <%= image_tag("/uploads/8517c785dc74d856c7bcc28cb6230757.jpg" ,class:"fotoborda", style:'width:280px')%>
                </a>
                <div>
                    <h4>
                        <a href="/inscricao/faocotas">Organização das Nações Unidas para Alimentação e Agricultura - FAO (cotas)</a>
                    </h4>
                </div>
                <div style="text-align:left">
                    <i class="fa fa-calendar"></i>
                    21/08/2016</div>
                <div style="text-align:left">
                    Ensino Médio
                </div>

            </div>

            <div style="float:left; margin-right:30px; margin-bottom:30px; width:290px; min-height:400px">
                <a href="/inscricao/cabinet">
                  <%= image_tag("/uploads/e20e8b45ff6c7263de3aba078cd2a67e.jpg" ,class:"fotoborda", style:'width:280px')%>
                </a>
                <div>
                    <h4>
                        <a href="/inscricao/cabinet">President George W. Bush's Cabinet (2001)</a>
                    </h4>
                </div>
                <div style="text-align:left">
                    <i class="fa fa-calendar"></i>
                    21/08/2016</div>
                <div style="text-align:left">
                    Ensino Superior
                </div>

            </div>

            <div style="float:left; margin-right:0px; margin-bottom:30px; width:290px; min-height:400px">
                <a href="/inscricao/cabinetcotas">
                  <%= image_tag("/uploads/e9914a9f49cdd06410709a173dfe3f85.jpg" ,class:"fotoborda", style:'width:280px')%>
                </a>
                <div>
                    <h4>
                        <a href="/inscricao/cabinetcotas">President George W. Bush's Cabinet (2001) (cotas)</a>
                    </h4>
                </div>
                <div style="text-align:left">
                    <i class="fa fa-calendar"></i>
                    21/08/2016</div>
                <div style="text-align:left">
                    Ensino Superior
                </div>

            </div>

            <div style="float:left; margin-right:30px; margin-bottom:30px; width:290px; min-height:400px">
                <a href="/inscricao/tpi">
                  <%= image_tag("/uploads/b41b66111c18b121cca9ec7a8ff304c0.jpg" ,class:"fotoborda", style:'width:280px')%>
                </a>
                <div>
                    <h4>
                        <a href="/inscricao/tpi">Tribunal Penal Internacional - TPI</a>
                    </h4>
                </div>
                <div style="text-align:left">
                    <i class="fa fa-calendar"></i>
                    21/08/2016</div>
                <div style="text-align:left">
                    Ensino Superior
                </div>
                <div style="text-align:left">
                    <i class="fa fa-clock-o"></i>
                    Fila de Espera</div>

            </div>

            <div style="float:left; margin-right:30px; margin-bottom:30px; width:290px; min-height:400px">
                <a href="/inscricao/tpicotas">
                  <%= image_tag("/uploads/33a211c21f2763b4c1a583449a6a3b00.jpg" ,class:"fotoborda", style:'width:280px')%>
                </a>
                <div>
                    <h4>
                        <a href="/inscricao/tpicotas">Tribunal Penal Internacional - TPI (cotas)</a>
                    </h4>
                </div>
                <div style="text-align:left">
                    <i class="fa fa-calendar"></i>
                    21/08/2016</div>
                <div style="text-align:left">
                    Ensino Superior
                </div>
                <div style="text-align:left">
                    <i class="fa fa-clock-o"></i>
                    Fila de Espera</div>

            </div>

            <div style="float:left; margin-right:0px; margin-bottom:30px; width:290px; min-height:400px">
                <a href="/inscricao/uit">
                  <%= image_tag("/uploads/4851b46f92ce82a184d9426b7532fcea.png" ,class:"fotoborda", style:'width:280px')%>
                </a>
                <div>
                    <h4>
                        <a href="/inscricao/uit">União Internacional de Telecomunicações - UIT</a>
                    </h4>
                </div>
                <div style="text-align:left">
                    <i class="fa fa-calendar"></i>
                    21/08/2016</div>
                <div style="text-align:left">
                    Ensino Superior
                </div>

            </div>

            <div style="float:left; margin-right:30px; margin-bottom:30px; width:290px; min-height:400px">
                <a href="/inscricao/uitcotas">
                  <%= image_tag("/uploads/cb094b32e767f8fcd097094e1b71185b.png" ,class:"fotoborda", style:'width:280px')%>
                </a>
                <div>
                    <h4>
                        <a href="/inscricao/uitcotas">União Internacional de Telecomunicações - UIT (cotas)</a>
                    </h4>
                </div>
                <div style="text-align:left">
                    <i class="fa fa-calendar"></i>
                    21/08/2016</div>
                <div style="text-align:left">
                    Ensino Superior
                </div>

            </div>

        </div>
        <!-- end .span12 -->
    </div>
    <!-- end. row -->

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
</div>
