<div id="content">

    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div id="page-header">

        <div class="row">
            <div class="span12">

                <h2>
                    Inscrições
                </h2>

            </div>
            <!-- end .span12 -->
        </div>
        <!-- end .row -->

    </div>
    <!-- end #page-header -->

    <div class="row">
        <div class="span12">

            <h3 style="margin-bottom:30px; margin-top:20px" class="headline">
                <span>Inscrições Abertas</span>

            </h3>
            <% j=1 %>
            <% @comitees.each do |comitee| %>
            <% if comitee.is_active %>
              <div style="float:left; margin-right:30px; margin-bottom:30px; width:290px; min-height:400px">
                  <a href="/inscricao/acnur">
                    <%= image_tag("/uploads/d59c7698b58cd006b608ef32f8a744b8.png" ,class:"fotoborda", id:"inscricoes_imagem")%>
                  </a>
                  <div>
                      <h4>
                          <a href="/inscricao/acnur"><%=comitee.name%></a>
                      </h4>
                  </div>
                  <div style="text-align:left">
                      <i class="fa fa-calendar"></i>
                      <%=comitee.start_date%></div>
                  <div style="text-align:left">
                      <%=comitee.grade%>
                  </div>
                  <div style="text-align:left">
                      <i class="fa fa-clock-o"></i>
                      Fila de Espera</div>

              </div>
              <%end%>
            <%end%>
        </div>
        <!-- end .span12 -->
    </div>
    <!-- end. row -->

    <div class="row">
        <div class="span12">

            <h3 style="margin-bottom:30px; margin-top:20px" class="headline">
                <span>Inscrições Encerradas</span>
            </h3>
            <% j=1 %>
            <% @comitees.each do |comitee| %>
            <% if comitee.is_passed %>
              <div style="float:left; margin-right:30px; margin-bottom:30px; width:290px; min-height:400px">
                  <a href="/inscricao/acnur">
                    <%= image_tag("/uploads/d59c7698b58cd006b608ef32f8a744b8.png" ,class:"fotoborda", id:"inscricoes_imagem")%>
                  </a>
                  <div>
                      <h4>
                          <a href="/inscricao/acnur"><%=comitee.name%></a>
                      </h4>
                  </div>
                  <div style="text-align:left">
                      <i class="fa fa-calendar"></i>
                      <%=comitee.start_date%></div>
                  <div style="text-align:left">
                      <%=comitee.grade%>
                  </div>
                  <div style="text-align:left">
                      <i class="fa fa-clock-o"></i>
                      Fila de Espera</div>

              </div>
              <%end%>
            <%end%>

        </div>
        <!-- end .span12 -->
    </div>
    <!-- end. row -->

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
</div>
