<div id="content">

    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div id="page-header">

        <div class="row">
            <div class="span12">

                <h2>Parceiros</h2>

            </div>
            <!-- end .span12 -->
        </div>
        <!-- end .row -->

    </div>
    <!-- end #page-header -->

    <div class="row" style="margin-bottom:30px">
        <div class="span12"></div>
        <!-- end .span12 -->
    </div>
    <!-- end. row -->

    <div class="row" style="margin-bottom:30px">
        <div class="span12">

            <h3 class="headline">
                <span>Ministro</span>
            </h3>

            <div style="float:left; margin-right:20px; margin-bottom:20px">
                <a href="http://www.unifor.br" target="_blank"><%= image_tag("/uploads/d01cb0363e75ffb22685022888e1244c.jpg" ,style:'width:200px; height:100px; background-color:#ccd1de; border-radius:5px')%></a>
            </div>

            <div style="float:left; margin-right:20px; margin-bottom:20px">
                <a href="http://www.ufc.br" target="_blank"><%= image_tag("/uploads/f1616fee89f4337788c7d1b8d6229792.png" ,style:'width:200px; height:100px; background-color:#ccd1de; border-radius:5px')%></a>
            </div>

            <div style="float:left; margin-right:20px; margin-bottom:20px">
                <a href="#" target="_blank"><%= image_tag("/uploads/4b127f1549d90c9d44e62bde1d2b0127." ,style:'width:200px; height:100px; background-color:#ccd1de; border-radius:5px')%></a>
            </div>

            <div style="clear:both"></div>

        </div>
        <!-- end .span12 -->

    </div>
    <!-- end. row -->

    <div class="row" style="margin-bottom:30px">
        <div class="span12">

            <h3 class="headline">
                <span>Embaixador</span>
            </h3>

            <div style="float:left; margin-right:20px; margin-bottom:20px">
                <a href="http://www.agenciacolibri.com.br/" target="_blank"><%= image_tag("/uploads/2b4c6c6c3772ad66f42f7eadfe4e8605.png" ,style:'width:200px; height:100px; background-color:#ccd1de; border-radius:5px')%></a>
            </div>

            <div style="clear:both"></div>

        </div>
        <!-- end .span12 -->

    </div>
    <!-- end. row -->

    <div class="row" style="margin-bottom:30px">
        <div class="span12">

            <h3 class="headline">
                <span>Cônsul</span>
            </h3>

            <div style="float:left; margin-right:20px; margin-bottom:20px">
                <a href="http://www.c7s.com.br" target="_blank"><%= image_tag("/uploads/3cd335d416c432818492ed328ea93240.jpg" ,style:'width:200px; height:100px; background-color:#ccd1de; border-radius:5px')%></a>
            </div>

            <div style="float:left; margin-right:20px; margin-bottom:20px">
                <a href="http://www.candidoalbuquerque.adv.br/" target="_blank"><%= image_tag("/uploads/c23e47cc40cf7e977368a51dc7fcb312.png" ,style:'width:200px; height:100px; background-color:#ccd1de; border-radius:5px')%></a>
            </div>

            <div style="clear:both"></div>

        </div>
        <!-- end .span12 -->

    </div>
    <!-- end. row -->

    <div class="row" style="margin-bottom:30px">
        <div class="span12">

            <h3 class="headline">
                <span>Diplomata</span>
            </h3>

            <div style="float:left; margin-right:20px; margin-bottom:20px">
                <a href="http://www.funag.gov.br/pt_br/" target="_blank"><%= image_tag("/uploads/807251d20067819247e2280a3601d585.png" ,style:'width:200px; height:100px; background-color:#ccd1de; border-radius:5px')%></a>
            </div>

            <div style="float:left; margin-right:20px; margin-bottom:20px">
                <a href="http://adautoescola.blogspot.com.br" target="_blank"><%= image_tag("/uploads/996142988f066edb57f5109c3a917b0c.png" ,style:'width:200px; height:100px; background-color:#ccd1de; border-radius:5px')%></a>
            </div>

            <div style="float:left; margin-right:20px; margin-bottom:20px">
                <a href="http://www.fcpc.ufc.br/" target="_blank"><%= image_tag("/uploads/889802813b609a3c41879dc6c003322b.jpg" ,style:'width:200px; height:100px; background-color:#ccd1de; border-radius:5px')%></a>
            </div>

            <div style="clear:both"></div>

        </div>
        <!-- end .span12 -->

    </div>
    <!-- end. row -->

    <div class="row" style="margin-bottom:30px">
        <div class="span12">

            <h3 class="headline">
                <span>Instituições Parceiras</span>
            </h3>

            <div style="float:left; margin-right:20px; margin-bottom:20px">
                <a href="http://www.sddufc.com.br/" target="_blank"><%= image_tag("/uploads/1797efcdffa4b88dc07e2ba2514fa0fa.jpg" ,style:'width:200px; height:100px; background-color:#ccd1de; border-radius:5px')%></a>
            </div>

            <div style="float:left; margin-right:20px; margin-bottom:20px">
                <a href="http://www.gedai.co/" target="_blank"><%= image_tag("/uploads/c11c38f6a9e5f59580464dd2a2089126.png" ,style:'width:200px; height:100px; background-color:#ccd1de; border-radius:5px')%></a>
            </div>

            <div style="float:left; margin-right:20px; margin-bottom:20px">
                <a href="http://www.amun.org.br" target="_blank"><%= image_tag("/uploads/6e666da6b41a945107b772509839c73d.jpg" ,style:'width:200px; height:100px; background-color:#ccd1de; border-radius:5px')%></a>
            </div>

            <div style="float:left; margin-right:20px; margin-bottom:20px">
                <a href="http://www.soi.org.br" target="_blank"><%= image_tag("/uploads/e69bfcf2e7e5abd8bf37ccf8a281c959.png" ,style:'width:200px; height:100px; background-color:#ccd1de; border-radius:5px')%></a>
            </div>

            <div style="float:left; margin-right:20px; margin-bottom:20px">
                <a href="http://www.colegiopoliedro.com.br/polionu/" target="_blank"><%= image_tag("/uploads/64ef1e08d9bdd9b1d23e05a287f08540.jpg" ,style:'width:200px; height:100px; background-color:#ccd1de; border-radius:5px')%></a>
            </div>

            <div style="clear:both"></div>

        </div>
        <!-- end .span12 -->

    </div>
    <!-- end. row -->

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div>
