<div id="content">
        
        <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
            
            <div id="page-header">
                
                <div class="row">
                    <div class="span12">
                        
                        <h2>O Secretariado</h2>
                        
                    </div><!-- end .span12 -->
                </div><!-- end .row -->
                
            </div><!-- end #page-header -->
            
            <div class="row" style="margin-bottom:30px">
                <div class="span12">
                    
                    <div style="text-align: justify;"><font face="Tahoma">O Secretariado da SONU é eleito anualmente e desempenha uma função de cúpula administrativa, organizando e coordenando logística e academicamente toda a simulação, sob orientação dos docentes orientadores do Programa SONU.&nbsp;</font></div><div style="text-align: justify;"><br></div>                    
                </div><!-- end .span12 -->
            </div><!-- end. row -->
            
            <div class="row">
                
                
                
                
                
                
                                <h3  class="headline" style="margin-bottom:30px; margin-top:20px"><span>Secretário Geral</span></h3>
            
                <div class="span12">
                    
                    
                                        <div style="margin-bottom:20px; width:170px; float:left">
                        <div style="text-align:center">
                            <center>
                            <%=link_to 'http://sonu.com.br/secretario.php?id=40', class:'iframe' do %>
                                <%= image_tag '/uploads/0c437752aed8b8e78896a819888a0c35.jpg', class:"fotoborda", height:"150"%>
                            <% end %>
                            </center>
                        </div>
                        <div style="text-align:center">
                            <%= link_to  'http://sonu.com.br/secretario.php?id=40', class:'iframe' do %>
                                <h4>Artur Costa</h4>
                            <% end %>
                        </div>
                        
                    </div>
                    
                                        <div style="clear:both"> </div>
                    
                </div><!-- end .span12 -->
                                <h3  class="headline" style="margin-bottom:30px; margin-top:20px"><span>Vice-Secretário Geral</span></h3>
            
                <div class="span12">
                    
                    
                                        <div style="margin-bottom:20px; width:170px; float:left">
                        <div style="text-align:center">
                            <center>
                            <%= link_to 'http://sonu.com.br/secretario.php?id=41', class:'iframe' do %>
                                <%= image_tag '/uploads/8a87bcc5ee1ecf7128cdf883034c7f41.jpg', class:"fotoborda", height:"150" %>
                            <% end %>
                            </center>
                        </div>
                        <div style="text-align:center">
                            <%= link_to 'http://sonu.com.br/secretario.php?id=41', class:'iframe' do %>
                                <h4>Daniel Marques</h4>
                            <% end %>
                        </div>
                        
                    </div>
                    
                                        <div style="clear:both"> </div>
                    
                </div><!-- end .span12 -->
                                <h3  class="headline" style="margin-bottom:30px; margin-top:20px"><span>Secretários Acadêmicos</span></h3>
            
                <div class="span12">
                    
                    
                                        <div style="margin-bottom:20px; width:170px; float:left">
                        <div style="text-align:center">
                            <center>
                            <%= link_to 'http://sonu.com.br/secretario.php?id=42', class:'iframe' do %>
                                <%= image_tag '/uploads/b9684952453d7613de7cab0707f6c740.jpg',  class:"fotoborda", height:"150" %>
                            <% end %>
                            </center>
                        </div>
                        <div style="text-align:center">
                            <%= link_to 'http://sonu.com.br/secretario.php?id=42', class:'iframe' do%>
                                <h4>Felipe Sousa</h4>
                            <% end %>
                        </div>
                        
                    </div>
                    
                                        <div style="margin-bottom:20px; width:170px; float:left">
                        <div style="text-align:center">
                            <center>
                            <%= link_to 'http://sonu.com.br/secretario.php?id=43', class:'iframe' do %>
                                <%= image_tag '/uploads/fd3ac8ebc3b61da58853e87dd7455b37.jpg', class:"fotoborda", height:"150" %>
                            <% end %>
                            </center>
                        </div>
                        <div style="text-align:center">
                            <%= link_to  'http://sonu.com.br/secretario.php?id=43', class:'iframe' do%>
                                <h4>João Lucas Lopes</h4>
                            <% end %>
                        </div>
                        
                    </div>
                    
                                        <div style="margin-bottom:20px; width:170px; float:left">
                        <div style="text-align:center">
                            <center>
                            <%= link_to "http://sonu.com.br/secretario.php?id=45", class:'iframe' do %>
                                <%= image_tag '/uploads/2d803094d97972dcdb8d2c3544b274f5.jpg', class:"fotoborda", height:"150"%>
                            <% end %>
                            </center>
                        </div>
                        <div style="text-align:center">
                            <%= link_to 'http://sonu.com.br/secretario.php?id=45' do %>
                                <h4>Letícia Pinheiro</h4>
                            <% end %>
                        </div>
                        
                    </div>
                    
                                        <div style="margin-bottom:20px; width:170px; float:left">
                        <div style="text-align:center">
                            <center>
                            <%= link_to 'http://sonu.com.br/secretario.php?id=46', class:'iframe' do %>
                                <%= image_tag '/uploads/1de60aa3070e0bcc5fc3300cd2f31281.jpg', class:"fotoborda", height:"150"%>
                            <% end %>
                            </center>
                        </div>
                        <div style="text-align:center">
                            <%= link_to 'http://sonu.com.br/secretario.php?id=46', class:'iframe' do %>
                                <h4>Tales Muniz</h4>
                            <% end %>
                        </div>
                        
                    </div>
                    
                                        <div style="clear:both"> </div>
                    
                </div><!-- end .span12 -->
                                <h3  class="headline" style="margin-bottom:30px; margin-top:20px"><span>Secretários Administrativos</span></h3>
            
                <div class="span12">
                    
                    
                                        <div style="margin-bottom:20px; width:170px; float:left">
                        <div style="text-align:center">
                            <center>
                            <%=link_to 'http://sonu.com.br/secretario.php?id=47',  class:'iframe' do%>
                                <%= image_tag '/uploads/33d35cc5e2ecde7789471fc9c6f2db9e.jpg', class:"fotoborda", height:"150" %>
                            <% end %>
                            </center>
                        </div>
                        <div style="text-align:center">
                            <%= link_to 'http://sonu.com.br/secretario.php?id=47', class:'iframe' do%>
                                <h4>Júlia Sampaio</h4>
                            <% end %>
                        </div>
                        
                    </div>
                    
                                        <div style="margin-bottom:20px; width:170px; float:left">
                        <div style="text-align:center">
                            <center>
                            <%= link_to 'http://sonu.com.br/secretario.php?id=48', class:'iframe' do%>
                                <%= image_tag '/uploads/ea9b3d47a164dae01bab646287a58341.jpg', class:"fotoborda", height:"150" %>
                            <% end %>
                            </center>
                        </div>
                        <div style="text-align:center">
                            <%= link_to 'http://sonu.com.br/secretario.php?id=48', class:'iframe' do %>
                                <h4>Mateus Pinho</h4>
                            <% end %>
                        </div>
                        
                    </div>
                    
                                        <div style="margin-bottom:20px; width:170px; float:left">
                        <div style="text-align:center">
                            <center>
                            <%= link_to 'http://sonu.com.br/secretario.php?id=58', class:'iframe'  do%>
                                <%= image_tag '/uploads/c29440243a5d16415e5b7343253e4bbe.jpg', class:"fotoborda", height:"150" %>
                            <% end %>
                            </center>
                        </div>
                        <div style="text-align:center">
                            <%=link_to 'http://sonu.com.br/secretario.php?id=58', class:'iframe'  do%>
                                <h4>Millene Haeer</h4>
                            <% end %>
                        </div>
                        
                    </div>
                    
                                        <div style="clear:both"> </div>
                    
                </div><!-- end .span12 -->
                                <h3  class="headline" style="margin-bottom:30px; margin-top:20px"><span>Secretárias de Comunicação</span></h3>
            
                <div class="span12">
                    
                    
                                        <div style="margin-bottom:20px; width:170px; float:left">
                        <div style="text-align:center">
                            <center>
                            <%= link_to 'http://sonu.com.br/secretario.php?id=50', class:'iframe' do %>
                                <%=image_tag '/uploads/728f46418d1d7f7f06812d7174bccca8.jpg', class:"fotoborda", height:"150" %>
                            <% end %>
                            </center>
                        </div>
                        <div style="text-align:center">
                            <%=link_to 'http://sonu.com.br/secretario.php?id=50', class:'iframe' do %>
                                <h4>Anália Mendonça</h4>
                            <% end %>
                        </div>
                        
                    </div>
                    
                                        <div style="margin-bottom:20px; width:170px; float:left">
                        <div style="text-align:center">
                            <center>
                            <%=link_to  'href="http://sonu.com.br/secretario.php?id=51', class:'iframe' do%>
                                <%=image_tag '/uploads/38fbb0b994c5a5899ce3bf0b7a0deb36.jpg', class:"fotoborda", height: "150" %>
                            <% end %>
                            </center>
                        </div>
                        <div style="text-align:center">
                            <%= link_to 'http://sonu.com.br/secretario.php?id=51', class:'iframe' do%>
                                <h4>Ester Coelho</h4>
                            <% end %>
                        </div>
                        
                    </div>
                    
                                        <div style="margin-bottom:20px; width:170px; float:left">
                        <div style="text-align:center">
                            <center>
                            <%= link_to 'http://sonu.com.br/secretario.php?id=55', class:'iframe' do%>
                                <%= image_tag '/uploads/c6eccd61753160930035ecc1d3e5266d.jpg', class:"fotoborda", height: "150" %>
                            <% end %>
                            </center>
                        </div>
                        <div style="text-align:center">
                            <%= link_to 'http://sonu.com.br/secretario.php?id=55', class:'iframe' do %>
                                <h4>Isabela Santana</h4>
                            <% end %>
                        </div>
                        
                    </div>
                    
                                        <div style="margin-bottom:20px; width:170px; float:left">
                        <div style="text-align:center">
                            <center>
                            <%= link_to 'http://sonu.com.br/secretario.php?id=56', class:'iframe' do%>
                                <%= image_tag '/uploads/b397d02e47c96d8a200efae77bae8de5.jpg', class:"fotoborda", height:"150" %>
                            <% end %>
                            </center>
                        </div>
                        <div style="text-align:center">
                            <%= link_to 'http://sonu.com.br/secretario.php?id=56', class:'iframe' do%>
                                <h4>Suzana Mesquita</h4>
                            <% end %>
                        </div>
                        
                    </div>
                    
                                        <div style="clear:both"> </div>
                    
                </div><!-- end .span12 -->
                            </div><!-- end. row -->
            
        <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

        </div>      