<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <title>SONU - Admin</title>

        <!--Morris Chart CSS -->
        <!-- <link rel="stylesheet" href="assets/plugins/morris/morris.css"> -->

        <!-- App css -->
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'dashboard' %>
    </head>

    <body class="fixed-left">
        <!-- Begin page -->
        <div id="wrapper">
          <%=render 'crew/admins/shared/topbar'%>
          <%=render 'crew/admins/shared/left_side_bar'%>
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <%=yield%>

                    </div>
                    <!-- container -->

                </div>
                <!-- content -->

                <footer class="footer text-right">
                    2017 © GTi Júnior.
                </footer>

            </div>
        </div>
        <!-- END wrapper -->
    </body>

      <%= javascript_include_tag 'dashboard'%>
      <% flash.each do |key, value| %>
        <script type="text/javascript">
           toastr.warning('<span><%= value %></span>', "Aviso");
        </script>
      <% end %>
</html>
